﻿@page "/"
@using ClassLibrary1.Models
@using ClassLibrary1.Services
@inject IPeopleService  peopleService

<h1>Hello, world!</h1>

Welcome to your new app.


    <img style="width:500px; height:500px" src="/img/col.png" />

@code{

    List<Person> listOfPeople;

    protected override void OnInitialized()
    {
        listOfPeople = peopleService.GetPeople();
    }

}