﻿@page "/people"
@using ClassLibrary1.Models
@using ClassLibrary1.Services
@inject IPeopleService peopleService
@inject IJSRuntime jsRuntime


@if (ListOfPeople == null)
{
    <p>No data...</p>
}
else
{
    <PeopleTable People="ListOfPeople"></PeopleTable>
    <PersonInput OnSubmit="AddPerson"></PersonInput>

    <button @onclick="PickRandom" class="btn">Pick random</button>
    @if (RandomPerson != null)
    {
        <p>Random person is: @RandomPerson.Name @RandomPerson.Surname</p>

    }
}



@code {
    private List<Person> ListOfPeople;

    private Person RandomPerson;
    protected override void OnInitialized()
    {
        ListOfPeople = peopleService.GetPeople();
    }
    private void AddPerson(Person person)
    {
        peopleService.AddPerson(person);
    }

    private async void PickRandom()
    {
        RandomPerson = await jsRuntime.InvokeAsync<Person>("random", ListOfPeople);
    }
}
