﻿@using ClassLibrary1.Models
<table class="table">
    <thead>
        <tr>
            @foreach (var header in Headers)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var person in People)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.Surname</td>
            </tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public List<Person> People { get; set; }
    
    private List<string> Headers = new List<string>() { "Name", "Surname" };



}
