﻿@using ClassLibrary1.Models
<input @bind-value="Name" />
<input @bind-value="Surname" />

<button @onclick="Submit" class="btn-info">Add person</button>

@code {

    private string Name = "";
    private string Surname = "";

    [Parameter]
    public EventCallback<Person> OnSubmit { get; set; }


    private Task Submit()
    {
        var person = new Person() { Name = Name, Surname = Surname };

        return OnSubmit.InvokeAsync(person);
    }

}
